---
import { useStoryblokApi } from '@storyblok/astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import Author from '../../components/Author.astro'
import type { Blok } from '../../Types/Blog'
import type { Story } from '../../Types/Blog'

import Sidebar from '../../components/Sidebar.astro'

const storyblokApi = useStoryblokApi()

export async function getStaticPaths() {
	const storyblokApi = useStoryblokApi()
	const { data: allposts } = await storyblokApi.get('cdn/stories', {
		version: 'published',
		content_type: 'blogPost'
	})
	const pages = allposts.stories.map((s: Story) => {
		return { params: { slug: s.slug } }
	})
	return [...pages]
}

const { slug } = Astro.params

const { data }: { data: Blok } = await storyblokApi.get(
	`cdn/stories/blog/${slug}`,
	{
		version: 'published'
	}
)

// const { data: data3 }: { data: Blok } = await storyblokApi.get(
// 	`cdn/stories/blog/`,
// 	{
// 		version: 'published'
// 	}
// )
// console.log(data3)
// const story = data.story

// const { data: data2 } = await storyblokApi.get(`cdn/stories/`, {
// 	version: 'published',
// 	by_uuids: story.content.Author
// })

// const author = data2.stories[0].content

// const posts = allposts.stories.map((story: Story) => {
// 	return {
// 		title: story.content.title,
// 		date: story.published_at,
// 		image: story.content.preview_Image?.filename,
// 		description: story.content.description,
// 		slug: story.full_slug,
// 		tags: story.tag_list
// 	}
// })
---

<BaseLayout title={data.story.name}>
	<main>
		<Sidebar>
			<article class='w-full'>
				<img
					src={data.story.content.main_image.filename}
					height='300'
					width='672'
					alt=''
					class=''
				/>
				<h1>{data.story.name}</h1>
				<p class='text-base prose prose-truegray'>
					{data.story.content.content}
				</p>
				<div>
					<!-- <Author
						name={author.name}
						quote={author.tagline}
						image={author.image.filename}
					/> -->
				</div>
			</article>
			<!-- <aside class='max-w-full md:max-w-[28ch] space-y-4'>
				<article>
					<h3 class='text-3xl font-bold'>About</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
						pariatur....
					</p>
				</article>
				<div>
					<h3 class='text-3xl font-bold'>Recent Post</h3>
					<ul role='list'>
						{
							posts.slice(0, 5).map((post: any) => {
								return (
									<li>
										<a href={`/${post.slug}`}>{post.title}</a>
									</li>
								)
							})
						}
					</ul>
				</div>
			</aside> -->
		</Sidebar>
	</main>
</BaseLayout>
<style>
	img {
		object-fit: cover;
	}
</style>
