---
import BaseLayout from '../layouts/BaseLayout.astro'

import { useStoryblokApi } from '@storyblok/astro'
import type { Story } from '../Types/Blog'

import BlogPostCard from '../components/BlogPostCard.astro'
import Sidebar from '../components/Sidebar.astro'
const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get('cdn/stories', {
	version: 'published',
	content_type: 'blogPost'
})

const posts = data.stories.map((story: Story) => {
	return {
		title: story.content.title,
		date: story.published_at,
		image: story.content.preview_Image?.filename,
		description: story.content.description,
		slug: story.full_slug,
		tags: story.tag_list
	}
})
---

<script></script>

<BaseLayout title='5 Kids and Planning'>
	<Sidebar>
		<div id='articles'>
			<ul class='space-y-16'>
				{
					posts.slice(0, 5).map((story: any) => (
						<li>
							<BlogPostCard
								title={story.title}
								date={new Date(story.date).toLocaleDateString('en-US', {
									dateStyle: 'full'
								})}
								image={story.image}
								description={story.description}
								slug={story.slug}
							/>
						</li>
					))
				}
			</ul>
			<button hx-post='/articles' name='next' value={2} hx-target='#articles'>
				next
			</button>
		</div>
		<aside class='max-w-full md:max-w-[28ch] space-y-4'>
			<article>
				<h3 class='text-3xl font-bold'>About</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
					minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur....
				</p>
			</article>
			<div>
				<h3 class='text-3xl font-bold'>Recent Post</h3>
				<ul role='list'>
					{
						posts.slice(0, 5).map((post: any) => {
							return (
								<li>
									<a href={`/${post.slug}`}>{post.title}</a>
								</li>
							)
						})
					}
				</ul>
			</div>
		</aside>
	</Sidebar>
</BaseLayout>
