---
interface Props {
  title: string
  date: string
  image: string
  description: string
  slug: string
  tags?: string[]
}

const { title, date, image, description, slug, tags } = Astro.props
---

<div>
  <img height='200' src={image} alt='' />
  <h2>
    <a href={slug}>{title}</a>
  </h2>
  <time>{date}</time>
  <p>{description}</p>
</div>

<style>
  img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
</style>
